/* css reset css初始化代码 */
body {margin:0; padding:0; font:12px/1.5 "微软雅黑",\5b8b\4f53,Arial,sans-serif; color: #3b3b3b;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}
address,cite,code,em,th,i{font-weight:normal; font-style:normal;}
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}
a {color:#252525; text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {color:#ba2636;text-decoration:underline;}
a:active {color:#ba2636;}

    .top {
     	height: 40px;
     	background-color: #333333;
     }
     .top1 {
         width: 1230px;
         height: 40px;
         margin: 0 auto;
     } 
      .top2 {
       width: 582px;
       height: 20px;
       float: left ; 
       margin-top: 10px;
    }  
      .top2 li{
       height: 20px;
       line-height: 20px;
       border-left: 1px solid #3B4040;
       border-right: 1px solid #3B3733;
       float: left;
     } 
    .top .info {
       border-left: 0;
     }
    .top2 li a {
       height: 20px;
       line-height: 20px;
       color: #B0B0B0;
       text-align: center;
       text-decoration: none;
       padding: 4px;
        }
   .top2 li a:hover {
     color: #fff;
   }
        
      .top3 {
        width: 138px;
        height: 20px;
        float: right;
     }
     .top3 li {
        height: 20px;
        line-height: 20px;
        border-left: 1px solid #3B4040;
        border-right: 1px solid #3B3733;
        float: left;
        margin:10px 0;
     }
     .top3 .info1 {
        border-left: 0;
     }
     .top3 li a {
        color: #B0B0B0;
        text-align: center;
        text-decoration: none;
        padding: 4px;
     }
     .top3 li a:hover {
        color: #fff;
     }
     .top4 {
        width: 124px;
        height: 40px;
        float: right;
        background: url(images/wu.png) no-repeat center center;
        background-color:#424242;
     } 
     .nav {
     	height: 100px;
     }
     .nav1{
        width: 1230px;
     	height: 100px;
        margin:0 auto;
     }
     .nav-l {
        width: 60px;
        height: 66px;
        background:url(images/logo-footer.png) no-repeat center;
        margin:16px 0;
        float: left;
     }
     .nav-r {
        width: 52px;
        height: 45px;
        background: url(images/c2.png) no-repeat;
        margin:16px 65px;
        float: left;
     }
     .nav2 {
     	width: 645px;
        height: 30px;
     	float: left;
        margin:36px 66px;
     }
     .nav2 li {
        height: 30px;
        line-height: 30px;
        float: left;
        padding: 10px;
     }
     .nav2 li a {
        font: 14px "微软雅黑";
        text-decoration: none;
     }
     .nav3 {
     	width: 300px;
        height: 50px;
     	float: right;
        margin:-70px 0;
     }
     .nav3 input{
        width: 242px;
        height: 48px;
        border: 1px solid #E0E0E0;
        float: left;
        outline: none;
     }
     .nav4 {
        position: absolute;
        margin-left: -148px;
        margin-top: 17px;
     }
     .nav3 button {
        width: 50px;
        height: 50px;
        border: 1px solid #E0E0E0;
        background: url(images/shou.png) no-repeat center;
        background-color: #FFFFFF;
        border-left: 0;
        padding: 20px;
        margin-right: 2px;
        float: left;
     }

     .zhong {
        width: 1230px;
     	height: 458px;
        margin:0 auto;
        margin-bottom: 15px;
     }
     .zhong1 {
        width: 236px;
     	height: 458px;
        float: left;
        background-color: #59524A;
     }
     .zhong1 ul {
        margin: 32px 30px;
     }
     .zhong1 li {
        height: 40px;
        line-height: 40px;
    }
    .zhong1 li a {
        color: #F2F1D3;
        text-decoration: none;
        float: left;
    }
    .zhong1 li a:hover {
        color: #fff;
    }
    .zhong1 li span {
        font-size: 14px;
        color: #B1AB9E;
        float: right;
    }
     .zhong2 {
        width: 994px;
        height: 458px;
        float: left;
        background: url(images/banner.jpg) no-repeat top right;
        position: relative;
     }
     .zhong2-l,.zhong2-r {
        width: 10px;
        height: 10px;
        background-color: #867A6B;
     }
     .zhong2-l {
        position: absolute;
        top:90%;
        right: 10%;
     }
     .zhong2-r {
        position: absolute;
        top:90%;
        right: 8%;
     }
     .zhong2-l:hover,.zhong2-r:hover {
       background-color:#B1AB9E;
     }
     .big {
        width: 1230px;
     	height: 168px;
        margin: 0 auto;
     }
      .big-in {
    	height: 168px;
    	width: 236px;
        background: url(images/one2.png) no-repeat;
        background-color: #5F5750;
        float: left;
     } 
   .big-l{
         float: left;
    } 
    .big-l li {
        width: 316px;
        height: 170px;
        background: url(images/c7.png) no-repeat top center;
        float: left; 
        margin-left: 15px;
       
    }
    .pian {
        width: 1230px;
        height: 30px; 
        margin: 0 auto;
         
    }
    .pin {
        width: 138px;
        height: 28px;
        margin:42px 0;
    }
    .pin p {
        font:18px "微软雅黑";
        color: #333333;
        padding-left: 4px;
    }
   
     .list {
        width: 1230px;
        height: 340px;
        margin:0 auto;
        margin-bottom: 38px;
   }
   .list ul {
    float: left;
   }
   .list li{
       height: 340px;
       width: 238px;
       border-top:1px solid #FFAC13;
       background-color: #FAFAFA;
       float: left;
       margin-left: 8px;
   }
    .list li img {
        height: 220px;
        width: 238px;  
    }
    .list li h4 {
        font:700 14px "微软雅黑";
        text-align: center;
    }
    .list li p {
        height: 22px;
        line-height: 22px;
        text-align: center;
        color: #BBCBE2;
    }
    .list li h5{
        height: 30px;
        line-height: 30px;
        color: #FF6709;
        font-weight: 700;
        text-align: center;

    }
   .main {
       height: 752px;
       background-color: #F5F5F5;
   }
   .main-in {
       width: 1230px;
       height:40px;
       margin: 0 auto;
       padding-top: 76px;
       padding-left: 15px;

   }
  .main-in .re {
    color: #FAA63B;
    border-bottom: 2px solid #FAA63B;
   }
   .main-in p {
    color: #333333;
    font-size: 18px;
    padding-left: 4px;
    float: left;
   }
   .main-in ul {
    float: right;
   }
   .main-in li {
    float: left;
    padding-left: 30px;
   }
   .main-in li a {
    color: #333333;

   }
   .content {
       width: 1230px;
       height: 300px;
       margin:0 auto;
       position: relative;
   }
   .hot {
    position: absolute;
    right: 47%;
    margin-top: 10px;
   
   }
   .foc {
    width: 230px;
    height: 77px;
   
    position: absolute;
    bottom: 1px;
    margin-left: 4px;
    border: 0;
    background-color: transparent;
   }
    .foc:hover {
       background: url(images/bucuo.png) no-repeat;
    }
   .content ul {
     float: left;
   }
   .content li {
     width: 238px;
     height: 300px;
   
     float: left;
     margin-left: 8px;
   }
    .content-one {
     margin-top: 10px;
   }
   .one {
    width: 224px;
    height: 146px;
    margin-bottom: 10px;
   }
    .two {
    width: 224px;
    height: 146px;
   }
    .footer-fist {
     height: 270px;

    }
      .footer-inp {
       width: 1230px;
       height: 270px;
       margin:0 auto;

       padding-top: 10px;
    }  
    .footer-in{
        height: 28px;
        width: 1120px;
        margin:0 auto;
        margin-bottom: 32px;
    }
    .footer-inp .footer-one {
        border-left: 0;
    }
    .footer-in ul {
        float: left;
        
    }

   .footer-in li {
        width:192px;
        height: 28px;
        line-height: 28px;
        float: left;
        border-left: 1px solid #E0E0E0;
       

   }
    .footer-in li a {
        font: 16px "微软雅黑";
        height: 28px;
        line-height: 28px;
        color: #A67A61;
        padding: 70px;
        /* border-bottom: 1px solid #E0E0E0; */
    }

   .footer-c{
       width:1230px;
       height: 192px;
       margin: 0 auto;
       border-top: 1px solid #E0E0E0;
       padding: 36px 0;
       float: left;
   }
   .footer-c dl {
      float: left;
      width: 62px;

   }
   .footer-c dl dt {
     font-weight: 700;
     font-size: 14px;
     color: #424242;
     height: 45px;
   }
    .footer-c dl dd {
        height: 30px;
    }
  
    .footer-c > dl {
        margin-right: 98px;
    }
    .footer-c dl dd a {
        color:#424242; 

    }
     .footer-c dl dd a:hover {
        color: #B0B0B0;
     }
     .footer-bottom {
        width: 240px;
        height: 120px;
        float: right;
        border-left: 1px solid #E0E0E0;
        position: relative;
     }
      .footer-bottom h3 {
        font-size: 18px;
        text-align: center;
        color: #FF6700;
      }
       .footer-bottom p{
        text-align: center;
        font-size: 16px;
        color: #616161;
       }
       .footer-bottom button {
        width: 118px;
        height: 28px;
        border: 1px solid #FF6700;
        color: #FF6700;
        background-color: #fff;
        position: absolute;
        right:60px;
       }
       .bottom {
        height: 166px;
        background-color: #FAFAFA;
       }
       .bottom-in {
        width: 1230px;
        height: 144px;
        margin: 0 auto;
        padding:22px 0;
       
       }
       .bottom-img {
        width: 56px;
        height: 57px;
        background: url(images/logo-footer.png) no-repeat;
        float: left;
       }
       .bottom-c {
        width: 724px;
        height: 57px;
        float: left;
        margin:0 6px;
       }
        .bottom-c h4 {
          color: #9A7575;
        }
        .bottom-c p {
            color:#B0B0B0;
        }
        .bottom-r {
            width: 375px;
            height: 57px;
            float: right;
        }
